<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Izzly</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; background-color: #f1f1f1; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
  <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div style="border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 20px; text-align: center;">
      <a href="#" style="font-size: 1.4em; color: #00466a; text-decoration: none; font-weight: 600;">Izzly</a>
    </div>
    <div style="text-align: center;">
      <p style="font-size: 1.1em;">Hi,</p>
      <p>Thank you for choosing Izzly. Use the following OTP to complete your Sign Up procedures:</p>
      <div style="display: inline-block; background: #00466a; margin: 20px 0; padding: 10px 20px; color: #fff; border-radius: 4px; font-size: 1.5em; letter-spacing: 5px;">
        {{ otp }}
      </div>
      <p style="font-size: 0.9em; text-align: center; color: rgb(228, 8, 8);">Valid For 10 minutes Only!</p>
    </div>
    <hr style="border: none; border-top: 1px solid #eee;" />
    <div style="margin-top: 20px; text-align: center; color: #aaa; font-size: 0.8em; line-height: 1.2;">
      <p>Izzly Inc</p>
    </div>
  </div>
</body>
</html>
